---
layout: main-v3
title: "MewX's Homepage"
---
{% for post in paginator.posts %}
<div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--4-col-phone mdl-cell--0-offset-phone mdl-cell--6-col-tablet mdl-cell--1-offset-tablet" style="min-height: 152px;">
    <a href="{{ post.url }}" style="text-decoration: none; margin: 32px; color: black">
        <div>
            <h2>{{ post.title }}</h2>
        </div>
        <h4 style="color: rgb(33, 150, 243);">{{ post.subtitle }}</h4>
        <hr>
        <p>Posted by {{ post.author }} on {{ post.date | date: "%b %d, %Y" }}</p>
    </a>
</div>
{% endfor %}

<!-- TODO: Pager style -->
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path }}">&larr; Prev Posts</a>
    </li>
    {% else %}
    <li class="previous disabled">
        <a>&larr; Prev Posts</a>
    </li>
    {% endif %}
    <li style="text-align: center;">
        {{ paginator.page }} / {{ paginator.total_pages }}
    </li>
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
    </li>
    {% else %}
    <li class="next disabled">
        <a>Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
