<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}index.html">MewX's Homepage</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}index.html">Home</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="http://wenku8.mewx.org/" target="_blank">轻小说文库 (Wenku8 Android)</a>
                        </li>
                        <li>
                            <a href="http://crosschannel.cn/" target="_blank">CROSS † CHANNEL 汉化项目</a>
                        </li>
                        <li>
                            <a href="http://weibo.com/ikoya" target="_blank">少女们向荒野进发 汉化项目</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">NTLEA Packer (Planning)</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}timeline.html">Timeline</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}archive.html">Archive</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}friends.html">Friends</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}about.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
