<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MewX's Personal Homepage (Blog, Projects, and Related sites.)">
    <meta name="author" content="MewX">
    {% include webmastermeta.html %}

    <title>MewX's Homepage - The one who keeps learning, learning, and learning! </title>
    <link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="icon" type="image/x-icon" />
    <link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="{{ site.baseurl }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}css/clean-blog.css" rel="stylesheet">
    <link href="{{ site.baseurl }}css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
    {% include navigator.html %}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ site.cdn }}imgs/site/home-title.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        <hr class="small">
                        <span class="subheading">MewX is learning and exploring...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{ content }}
            </div>
        </div>
    </div>
    <hr>

    {% include copyleft.html %}

    <script src="{{ site.baseurl }}js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}js/clean-blog.min.js"></script>
</body>
</html>
