<!DOCTYPE html>
<html>
<head>
	{% include webmastermeta.html %}
	<title>{{ page.title }} - {{ site.title }}</title>
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="bookmark" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="icon" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>-->
	<link href='http://fonts.useso.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.useso.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/framework.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/github-markdown.css">
</head>

<body>
	<!-- Initial main framwork -->
	<div id="HeadTaken"></div>
	<div id="ContentTaken">
		<div class="spaceline"></div>
		<div class="container">
			<div class="spaceline"></div>
			{{ content }}

			{% include relatedlinks.html %}

		</div>
		<div class="spaceline"></div>
	</div>
	<div id="Copyright"><br>Powered by MewX.<br>Mewx.org copyleft (ɔ) MewX ( 2014 - 2016 )<br>Email: {{ site.email }}</div>


    <!-- Initial top framework -->
	<div id="TopBlockMaskSaveEnergy"></div>
	<a href="{{ site.baseurl }}"><div id="MainLogo">MewX</div></a>
	<div id="SubLogo">- {{ page.title }} -</div>
	<div id="LanguageSwitcher">
		<div id="LanguageBoarder"></div>
		<div class="box"><div id="selected">简体中文</div></div>
		<div class="space"></div>
		<div class="box">繁體中文</div>
		<div class="space"></div>
		<div class="box">English</div>
		<div class="space"></div>
	</div>
	<div id="TopBlock1">About MewX<br/></div>
	<a href="http://mail.mewx.org" target="_blank"><div id="TopBlock2">MewX Mail<br/></div></a>
	<a href="https://github.com/MewX" target="_blank"><div id="TopBlock3">MewX GitHub<br/></div></a>
	<div id="TopBlock4">NTLEA Pack Project<br/>(Planning)<br/></div>
	<a href="http://www.crosschannel.cn/" target="_blank"><div id="TopBlock5">CROSS†CHANNEL 汉化项目<br/>群青学院放送部<br/></div></a>
	<a href="http://wenku8.mewx.org/" target="_blank"><div id="TopBlock6">轻小说文库 - 安卓APP<br/>与Wenku8.com合作<br/></div></a>
	<div id="Avatar"></div>


	<!-- It's said that this will improve loading speed. -->
	<script src="{{ site.baseurl }}js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
	$($("#LanguageSwitcher .box").click(function(){/*
		if($(this).text()=="简体中文")alert("已经在简体中文页面啦！~");
		else if($(this).text()=="繁體中文")alert("正在開發中~~~");
		else if($(this).text()=="English")alert("On developing...");
		else alert("Internal logic error?!");*/
		switch($(this).text()){
		case "简体中文":alert("已经在简体中文页面啦！~");break;
		case "繁體中文":alert("正在開發中~~~");break;
		case "English":alert("On developing...");break;
		default: alert("Internal logic error?!");break;
		}
	}));

	$($("#LanguageSwitcher .box").hover(
		function(){$("#LanguageBoarder").stop().animate({width:$(this).width()+3+"px",left:$(this).position().left-2+"px"},500);},
		function(){$("#LanguageBoarder").stop().animate({width:$("#LanguageSwitcher .box #selected").width()+2+"px",left:$("#LanguageSwitcher .box #selected").parent().position().left-1+"px"},500);}
	));

	$(document).ready(function(){
		/* Initial selected box position */
		$("#LanguageBoarder").css("height",$("#LanguageSwitcher .box #selected").height()+2+"px");
		$("#LanguageBoarder").css("width",$("#LanguageSwitcher .box #selected").width()+3+"px");
		$("#LanguageBoarder").css("left",$("#LanguageSwitcher .box #selected").position().left-1+"px");
		$("#LanguageBoarder").css("top",$("#LanguageSwitcher .box #selected").position().top+1+"px");
	});
	</script>

	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-41039200-2', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
