<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="baidu-site-verification" content="tIUsey4gNP" />
	<meta name="360-site-verification" content="500c3a747d302ba9e0110a0310fd25db" />
	<meta name="msvalidate.01" content="C66B37506EFE56B15FECD7A1E4FCE0E1" />
	<title>{{ page.title }} - {{ site.title }}</title>
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="bookmark" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="icon" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>-->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/framework.css"/>
</head>

<body>
	<!-- Initial top framework -->
	<div id="TopBlockMaskSaveEnergy"></div>
	<a href="{{ site.baseurl }}"><div id="MainLogo">MewX</div></a>
	<div id="SubLogo">- {{ page.title }} -</div>
	<div id="LanguageSwitcher">
		<div id="LanguageBoarder"></div>
		<div class="box"><div id="selected">简体中文</div></div>
		<div class="space"></div>
		<div class="box">繁體中文</div>
		<div class="space"></div>
		<div class="box">English</div>
		<div class="space"></div>
	</div>
	<div id="TopBlock1">转向专题一</div>
	<div id="TopBlock2">转向专题二</div>
	<div id="TopBlock3">转向专题三</div>
	<div id="TopBlock4">转向专题四</div>
	<div id="TopBlock5">转向专题五</div>
	<div id="TopBlock6">转向专题六</div>
	<div id="Avatar"></div>

	<!-- Initial main framwork -->
	<div id="HeadTaken"></div>
	<div id="ContentTaken">
		<div class="spaceline"></div>
		<div class="container">
			<div class="spaceline"></div>
{{ content }}

			<div id="TagOutlineBoarder">
				<div class="spaceline"></div>
				<div class="spaceline"></div>
				<div class="spaceline"></div>
				Classify by DATE<br>
				<div class="spaceline"></div>
{% assign count = 0 %}
{% for post in site.posts %}
	{% if forloop.first %}
		{% capture saved_month %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
		{% assign count = 1 %}
	{% else %}
		{% capture this_month %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
		{% if this_month == saved_month %}
			{% assign count = count | plus: 1 %}
		{% else %}
				<a href="{{ site.baseurl }}times.html#{{ saved_month }}"><div class="DateListStyle">
					{{ saved_month }}<!--({{ count }})-->
				</div></a>
			{% assign count = 1 %}
			{% capture saved_month %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
		{% endif %}
	{% endif %}
	
	{% if forloop.last %}
				<a href="{{ site.baseurl }}times.html#{{ saved_month }}"><div class="DateListStyle">
					{{ saved_month }}<!--({{ count }})-->
				</div></a>
	{% endif %}
{% endfor %}
				<br style="clear:both;" />
				<div class="spaceline"></div>
				<div class="spaceline"></div>
				<div class="spaceline"></div>
				Classify by CATEGORY<br>
				<div class="spaceline"></div>
{% for category in site.categories %}
				<a href="{{ site.baseurl }}tags.html#{{ category | first }}"><div class="TagListStyle">
					{{ category | first }}<!--({{ category | last | size }})-->
				</div></a>
{% endfor %}
			</div>

			<br style="clear:both;" /> <!-- Refresh float view -->
		</div>
		<div class="spaceline"></div>
	</div>
	<div id="Copyright"><br>Powered by MewX.<br>Mewx.org Copyright: MewX ( 2014 - 2016 )<br>Email: {{ site.email }}</div>


	<!-- It's said that this will improve loading speed. -->
	<script src="{{ site.baseurl }}js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">
	$($("#LanguageSwitcher .box").click(function(){/*
		if($(this).text()=="简体中文")alert("已经在简体中文页面啦！~");
		else if($(this).text()=="繁體中文")alert("正在開發中~~~");
		else if($(this).text()=="English")alert("On developing...");
		else alert("Internal logic error?!");*/
		switch($(this).text()){
		case "简体中文":alert("已经在简体中文页面啦！~");break;
		case "繁體中文":alert("正在開發中~~~");break;
		case "English":alert("On developing...");break;
		default: alert("Internal logic error?!");break;
		}
	}));
	
	$($("#LanguageSwitcher .box").hover(
		function(){$("#LanguageBoarder").stop().animate({width:$(this).width()+3+"px",left:$(this).position().left-2+"px"},500);},
		function(){$("#LanguageBoarder").stop().animate({width:$("#LanguageSwitcher .box #selected").width()+2+"px",left:$("#LanguageSwitcher .box #selected").parent().position().left-1+"px"},500);}
	));
	
	$(document).ready(function(){
		/* Initial selected box position */
		$("#LanguageBoarder").css("height",$("#LanguageSwitcher .box #selected").height()+2+"px");
		$("#LanguageBoarder").css("width",$("#LanguageSwitcher .box #selected").width()+3+"px");
		$("#LanguageBoarder").css("left",$("#LanguageSwitcher .box #selected").position().left-1+"px");
		$("#LanguageBoarder").css("top",$("#LanguageSwitcher .box #selected").position().top+1+"px");
	});
	</script>
	
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
		ga('create', 'UA-41039200-2', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>