<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ page.title }} - {{ site.title }}</title>
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="bookmark" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="icon" type="image/x-icon" />
	<link href="{{ site.baseurl }}favicon.ico" mce_href="{{ site.baseurl }}favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/framework.css"/>
</head>

<body>
	<!-- Initial top framework -->
	<div id="TopBlockMaskSaveEnergy"></div>
	<div id="MainLogo">MewX</div>
	<div id="SubLogo">- Blog Home -</div>
	<div id="TopBlock1">转向专题一</div>
	<div id="TopBlock2">转向专题二</div>
	<div id="TopBlock3">转向专题三</div>
	<div id="TopBlock4">转向专题四</div>
	<div id="TopBlock5">转向专题五</div>
	<div id="TopBlock6">转向专题六</div>
	
	<!-- Initial main framwork -->
	<div id="HeadTaken"></div>
	<div id="ContentTaken">
		<div class="spaceline"></div>
		<div class="container">{{ content }}</div>
		<div class="spaceline"></div>
	</div>
	<div id="Copyright"></br>Powered by MewX.</br>Mewx.org Copyright: MewX ( 2014 - 2016 )</div>
</body>
</html>
